core/src/edu.harvard.i2b2.pm/src/sample/resources/PMSoapService.wsdl

<wsdl:definitions xmlns:tns="http://ws.pm.i2b2.harvard.edu/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws.pm.i2b2.harvard.edu/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd1="http://ws.pm.i2b2.harvard.edu/wsdl" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pm.i2b2.harvard.edu/wsdl"><wsdl:types><xsd:schema xmlns:axis2wrapped="http://ws.pm.i2b2.harvard.edu/wsdl" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.pm.i2b2.harvard.edu/wsdl">
<xsd:element name="getServices">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="input" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getServicesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="result" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema></wsdl:types><wsdl:message name="notesParam"><wsdl:part name="part1" element="tns:getServices" /></wsdl:message><wsdl:message name="pdoResponse"><wsdl:part name="part1" element="tns:getServicesResponse" /></wsdl:message><wsdl:portType name="PMSoapServicePortType"><wsdl:operation name="getServices"><wsdl:input message="tns:notesParam" wsaw:Action="getServices" /><wsdl:output message="tns:pdoResponse" wsaw:Action="//ws.pm.i2b2.harvard.edu/wsdl/PMSoapServicePortType/pdoResponse" /></wsdl:operation></wsdl:portType><wsdl:binding name="PMSoapServiceSOAP11Binding" type="tns:PMSoapServicePortType"><soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /><wsdl:operation name="getServices"><soap:operation soapAction="getServices" style="document" /><wsdl:input><soap:body use="literal" /></wsdl:input><wsdl:output><soap:body use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:binding name="PMSoapServiceSOAP12Binding" type="tns:PMSoapServicePortType"><soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /><wsdl:operation name="getServices"><soap12:operation soapAction="getServices" style="document" /><wsdl:input><soap12:body use="literal" /></wsdl:input><wsdl:output><soap12:body use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="PMSoapService"><wsdl:port name="PMSoapServiceSOAP11port_http" binding="tns:PMSoapServiceSOAP11Binding"><soap:address location="http://dev.www.i2b2.org/pmcell/wsdl/pmservice.wsdl" /></wsdl:port><wsdl:port name="PMSoapServiceSOAP12port_http" binding="tns:PMSoapServiceSOAP12Binding"><soap12:address location="http://dev.www.i2b2.org/pmcell/wsdl/pmservice.wsdl" /></wsdl:port></wsdl:service></wsdl:definitions>