workbench/src/edu.harvard.i2b2.xml/xsd/cell/stard_1.1/STARD_CFG.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:stard="http://www.i2b2.org/xsd/cell/stard/1.1/"
	targetNamespace="http://www.i2b2.org/xsd/cell/stard/1.1/">

	<xs:element name="stard_configuration" type="stard:stard_configruationType"/>
	
		<xs:complexType name="stard_configruationType">
			<xs:sequence>
				<xs:element name="pm_cell">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="url" type="xs:string" />
							<xs:element name="web_service_method" type="xs:string" />
							<xs:element name="bypass">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="project" type="xs:string" />
										<xs:element name="role" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="value" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="decompression" type="xs:boolean" />
				<xs:element name="mrn_restriction" type="xs:boolean" />
				<xs:element name="image_source" type="stard:image_sourceType" />
				<xs:element name="stard_local_aetitle" type="stard:pacsType" />
				<xs:element name="stard_move_destination" type="stard:pacsType" />
				<xs:element name="image_repository" type="stard:image_repositoryType" />
				<xs:element name="destinations" type="stard:destinationsType" />
				<xs:element name="stard_processes" type="stard:stard_processesType" />
			</xs:sequence>
		</xs:complexType>
	
	
	<xs:complexType name="stard_processesType">
		<xs:sequence>
			<xs:element name="stard_process" type="stard:stard_processType" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="stard_processType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="task"
				type="stard:stard_taskType" minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"></xs:attribute>
		<xs:attribute name="description" type="xs:string"></xs:attribute>
		<xs:attribute name="default" type="xs:boolean"></xs:attribute>
	</xs:complexType>
	<xs:complexType name="stard_taskType">
		<xs:sequence>
			<xs:element name="param" type="stard:stard_task_paramType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" />
		<xs:attribute name="order" type="xs:short" />
	</xs:complexType>
	<xs:complexType name="stard_task_paramType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string"
					use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="destinationsType">
		<xs:sequence>
			<xs:element name="xnat" type="stard:xnatType" />
			<xs:element name="pacs" type="stard:pacsType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xnatType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="url" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pacsType">
		<xs:sequence>
			<xs:element name="aetitle" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="address" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="port" type="xs:int" minOccurs="1" maxOccurs="1" />
			<xs:element name="security" type="stard:pacs_security_settingsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="timeouts" type="stard:pacs_timeout_settingsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="storagecommit" type="stard:pacs_storagecommit_settingsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="socket" type="stard:pacs_socket_settingsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="query" type="stard:pacs_query_settingsType" minOccurs="0" maxOccurs="1" />
			<xs:element name="misc" type="stard:pacs_misc_settingsType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="institution" type="xs:string" use="optional"/>
		<xs:attribute name="department" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="pacs_security_settingsType">
		<xs:sequence>
			<!-- enable User Identity Negotiation with specified username and  optional passcode -->
			<xs:element name="username" type="xs:string" />
			<!-- optional passcode for User Identity -->
			<xs:element name="passcode" type="xs:string" />      
			<!-- request positive User Identity Negotation response, only effective with option -username -->
			<xs:element name="uid_negotiation_rsp" type="xs:string" />                
			<!-- enable TLS connection without, 3DES or AES encryption -->
			<xs:element name="tls_cipher" type="xs:string" />
			<!-- disable the use of SSLv3 and SSLv2 for TLS connections -->
			<xs:element name="enable_tls1" type="xs:string" />
			<!-- file path or URL of JKS truststore, resource:tls/mesa_certs.jks by default -->
			<xs:element name="truststore" type="xs:string" />
			<!-- password for truststore file, 'secret' by default -->
			<xs:element name="truststore_password" type="xs:string" />
			<!-- password for accessing the key in the keystore, keystore password by default -->
			<xs:element name="key_pasword" type="xs:string" />
			<!-- file path or URL of P12 or JKS keystore, resource:tls/test_sys_1.p12 by default -->
			<xs:element name="keystore" type="xs:string" />
			<!-- password for keystore file, 'secret' by default -->
			<xs:element name="keystore_password" type="xs:string" />
			<!-- disable the use of SSLv2 for TLS connections -->
			<xs:element name="disable_ssl2" type="xs:string" />
			<!-- disable the use of SSLv3 for TLS connections -->
			<xs:element name="disable_ssl3" type="xs:string" />
			<!-- disable the use of TLSv1 for TLS connections -->
			<xs:element name="disable_tls1" type="xs:string" />
			<!-- disable client authentification for TLS -->
			<xs:element name="disable_clientauth" type="xs:string" />
			<!-- disable extended negotiation. -->
			<xs:element name="disable_extneg" type="xs:string" />
			<!-- disable the use of TLSv1 and SSLv2 for TLS connections -->
			<xs:element name="enable_ssl3" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pacs_timeout_settingsType">
		<xs:sequence>
			<!-- timeout in ms for receiving A-ASSOCIATE-AC, 5s by default -->
			<xs:element name="accept_timeout" type="xs:string" />
			<!-- timeout in ms for receiving C-MOVE-RSP and C-GET RSP, 600s by default -->
			<xs:element name="cmove_rsp_timeout" type="xs:string" /> 
			<!-- timeout in ms for TCP connect, no timeout by default -->
			<xs:element name="connect_timeout" type="xs:string" />
			<!-- timeout in ms for receiving C-FIND-RSP, 60s by default -->
			<xs:element name="cfind_rsp_timeout" type="xs:string" /> 
			<!-- timeout in ms for receiving C-GET-RSP and C-MOVE RSP, 600s by default -->
			<xs:element name="cget_rsp_timeout" type="xs:string" />
			<!-- timeout in ms for receiving DIMSE-RQ, 60s by default -->
			<xs:element name="idle_timeout" type="xs:string" />
			<!-- timeout in ms for receiving A-RELEASE-RP, 5s by default -->
			<xs:element name="release_timeout" type="xs:string" />
			<!-- timeout in ms for receiving -ASSOCIATE-RQ, 5s by default -->
			<xs:element name="request_timeout" type="xs:string" />
			<!-- timeout in ms for receiving DIMSE-RSP, 10s by default -->
			<xs:element name="rsp_timeout" type="xs:string" />
			<!-- period in ms to check for outstanding DIMSE-RSP, 10s by default -->
			<xs:element name="reaper_check" type="xs:string" />
			<!-- period in ms to cancel the query after -->
			<xs:element name="cancel_after" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pacs_storagecommit_settingsType">
		<xs:sequence>
			<!-- delay in ms for N-EVENT-REPORT-RQ to Storage Commitment SCU, 1s by default -->
			<xs:element name="sc_delay" type="xs:string" />
			<!-- port of Storage Commitment SCU to connect to issue N-EVENT-REPORT on different Association; 104 by default. -->
			<xs:element name="sc_port" type="xs:string" />
			<!-- Retrieve AE Title included in Storage Commitment N-EVENT-REPORT outside of the Referenced SOP Sequence. -->
			<xs:element name="sc_retrieve_outside_aet" type="xs:string" />
			<!-- Retrieve AE Title included in Storage Commitment N-EVENT-REPORT in items of the Referenced SOP Sequence. -->
			<xs:element name="sc_retrieve_item_aets" type="xs:string" />
			<!-- number of retries to issue N-EVENT-REPORT-RQ to Storage Commitment SCU, 0 by default -->
			<xs:element name="sc_retries" type="xs:string" />
			<!-- interval im ms between retries to issue N-EVENT-REPORT-RQ to Storage Commitment SCU, 60s by default -->
			<xs:element name="sc_retry_period" type="xs:string" />
			<!-- attempt to issue the Storage Commitment N-EVENT-REPORT on the same Association on which the N-ACTION operation was performed; use different Association for N-EVENT-REPORT by default. -->
			<xs:element name="sc_reuse_from" type="xs:string" />
			<!-- attempt to issue the Storage Commitment N-EVENT-REPORT on previous initiated Association to the Storage Commitment SCU; initiate new Association for N-EVENT-REPORT by default. -->
			<xs:element name="sc_reuse_to" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pacs_socket_settingsType">
		<xs:sequence>
			<!-- delay in ms for Socket close after sending A-ABORT, 50ms by default -->
			<xs:element name="socket_close_delay" type="xs:string" />
			<!-- set SO_RCVBUF socket option to specified value in KB -->
			<xs:element name="socket_rcv_buf" type="xs:string" />
			<!-- set SO_SNDBUF socket option to specified value in KB -->
			<xs:element name="socket_snd_buf" type="xs:string" />
			<!-- maximal length in KB of received P-DATA-TF PDUs, 16KB by default -->
			<xs:element name="rcv_pdu_length" type="xs:string" />
			<!-- maximal length in KB of sent P-DATA-TF PDUs, 16KB by default -->
			<xs:element name="snd_pdu_length" type="xs:string" /> 
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pacs_query_settingsType">
		<xs:sequence>
			<!-- negotiate support of relational queries and retrieval. -->
			<xs:element name="support_relational" type="xs:string" />
			<!-- repeat query (and retrieve) several times  -->
			<xs:element name="repeat_query" type="xs:string" />
			<!-- delay in ms between repeated query (and retrieve), no delay by default -->
			<xs:element name="repeat_delay" type="xs:string" />
			<!-- negotiate private FIND SOP Classes to fetch all available attributes of matching entities. -->
			<xs:element name="return_all_attrs" type="xs:string" />
			<!-- Reuse association for repeated query (and retrieve) -->
			<xs:element name="reuse_assoc" type="xs:string" />
			<!-- maximum number of outstanding C-MOVE-RQ it may invoke asynchronously, 1 by default. -->
			<xs:element name="max_async_query_ops" type="xs:string" />
			<!-- maximum number of outstanding operations performed asynchronously, unlimited by default. -->
			<xs:element name="max_async_listener_ops" type="xs:string" />
			<!-- accept also Explict VR Big Endian transfer syntax. -->
			<xs:element name="accept_bigendian" type="xs:string" />
			<!-- negotiate private FIND SOP Classes to return attributes of several matching entities per FIND response. -->
			<xs:element name="blocked" type="xs:string" />
			<!-- negotiate support of combined date and time attribute range matching. -->
			<xs:element name="combined_datetime" type="xs:string" />
			<!-- Close association between repeated query (and retrieve) -->
			<xs:element name="close_assoc" type="xs:string" />
			<!-- negotiate support of fuzzy semantic person name attribute matching. -->
			<xs:element name="support_fuzzy_match" type="xs:string" />
			<!-- negotiate private FIND SOP Classes to return attributes of legacy CT/MR images of one series as  virtual multiframe object. -->
			<xs:element name="support_virtual_multiframe_objects" type="xs:string" />
			<xs:element name="priority" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pacs_misc_settingsType">
		<xs:sequence>
			<!-- accept only default transfer syntax. -->
			<xs:element name="default_transfer_syntax" type="xs:string" />
			<!-- Only Move studies not already stored on destination AET -->
			<xs:element name="eval_retrieve_aet" type="xs:string" />
			<!-- minimal buffer size to write received object to file, 1KB by default -->
			<xs:element name="min_buffer_size" type="xs:string" />
			<!-- minimal buffer size to write received object to file, 1KB by default -->
			<xs:element name="min_file_buffer" type="xs:string" />
			<!-- offer only Implicit VR Little Endian Transfer Syntax. -->
			<xs:element name="implicit_vrle" type="xs:string" />
			<!-- accept only transfer syntax with uncompressed pixel data. -->
			<xs:element name="native_pixel_data" type="xs:string" />
			<!-- send only one PDV in one P-Data-TF PDU, pack command and data PDV in one P-DATA-TF PDU by default. -->
			<xs:element name="one_pdv" type="xs:string" />
			<!-- delay in ms for DIMSE-RSP; useful for testing asynchronous mode -->
			<xs:element name="rsp_delay" type="xs:string" />
			<!-- maximum number of outstanding storage operations performed asynchronously, unlimited by default. -->
			<xs:element name="store_async_ops" type="xs:string" />
			<!-- set TCP_NODELAY socket option to false, true by default -->
			<xs:element name="tcp_nodelay" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="image_sourceType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="pacs" type="stard:pacsType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="image_repositoryType">
		<xs:sequence>
			<xs:element name="location" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>